<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Shop Supplies V3
    </div>
    <!-- Default to the left -->
    <strong><a asp-action="ContactUs" asp-controller="Misc">BSDA</a></strong>
</footer>