<div class="preloader flex-column justify-content-center align-items-center">
    <div class="overlay" role="status">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </div>
    <h1>Shop Supplies V3</h1>
</div>